/*-------------- STYLES --------------*/
body{
  margin: -1px;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}
button, input[type="submit"], input[type="reset"], input[type="text"] {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  -webkit-appearance: none;
}
p{
  margin-top: 34px;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0;
}
.content{
  margin-left: 111px;
}
.button-primary-blue{
  width: 384px;
  height: 71px;
  border-radius: 5px;
  background-color: rgb(53	114	241);
  font-size: 23.4px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.button-primary-gradient{
  width: 384px;
  height: 70px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(224deg, #45F2B7 0%, #4396FF 100%);
  background-image: -o-linear-gradient(224deg, #45F2B7 0%, #4396FF 100%);
  background-image: linear-gradient(-134deg, #45F2B7 0%, #4396FF 100%);  font-size: 23.4px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}
.input-container{
  position: relative;
}
.input-container>input{
  width:432px;
  height: 60px;
  border-radius: 5px 0 0 5px;
  padding-left: 30px;
  margin-top: 54px;
}
.input-container>button{
  background:rgb(53	114	241);
  position: relative;
  width: 254px;
  height:60px;
  top: 1px;
  left:-5px;
  border-radius: 0 5px 5px 0;
  font-size: 22.75px;
  color: #FFFFFF;
  letter-spacing: 0;
  cursor: pointer;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0,0,0,0.30);
  letter-spacing: 0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0,0,0,0.30);
  letter-spacing: 0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0,0,0,0.30);
  letter-spacing: 0;
}

/*-----------------------------------------*/

/*-------------- FIRST SLIDE --------------*/
.first-slide{
  background: url("../assets/background.svg");
  background-size: cover;
  width: 100%;
}
.first-slide-logo{
  margin-top: 48px;
  width: 200px;
  height: 48px;
}
.first-slide>.first-slide-left>h1{
  color: #ffffff;
  margin-top: 142px;
}
.first-slide>.first-slide-left>h2{
  color: #ffffff;
  margin-top: 28px;
}
.first-slide-left{
  width: 60%;
}
.first-slide-right{
  width: 40%;
  height: 100%;
}
.first-slide-right>img{
  margin-top: 230px;
  width: 350px;
}

/*-----------------------------------------*/

/*-------------- SECOND SLIDE --------------*/
.second-slide{
  display: flex;
}
.second-slide>.second-slide-left, .second-slide>.second-slide-right{
  width: 50%;
  display: flex;
  justify-content:center;
  flex-direction: column;
}
.second-slide>.second-slide-left>h2{
  font-size: 64px;
  font-weight: 600;
  line-height: 1.02;
  color: #4a4a4a;
}
.second-slide>.second-slide-left>h3{
  font-size: 24px;
  line-height: 1.46;
  color: #4a4a4a;
  margin-top: 38px;
}
.second-slide-button{
  margin-top: 38px;
}
.second-slide>.second-slide-right{
  position: relative;
}
.flip{
  width: 387px;
  position: absolute;
  left: 140px;
}
.second-section-background{
  width: 150%;
  object-fit: cover;
}
/*-----------------------------------------*/

/*-------------- THIRD SLIDE --------------*/
.third-slide{
  background: rgba(234, 238, 252, 0.5);
  margin-top: 143px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 106px;
}
.third-slide-svg{
  margin-top: 56px;
}
.third-slide>h2{
  margin-top: 32px;
  color: #4A4A4A;
  letter-spacing: 0;
  text-align: center;
}
.third-slide>h3{
  margin-top:24px;
  color: #4A4A4A;
  letter-spacing: 0;
  text-align: center;
}
.third-slide>.input-container>button{
  background-image: linear-gradient(114deg, #4396FF, #45F2B7);
}

/*-----------------------------------------*/
/*-------------- FOURTH SLIDE --------------*/
.fourth-slide{
  display: flex;
  height: 700px;
}
.fourth-slide-left{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-slide-right{
  width: 50%;
}
.fourth-slide-right>h2{
  margin-top: 245px;
  color: #4A4A4A;
  letter-spacing: 0;
}
.fourth-slide-right>h3{
  margin-top: 24px;
  padding-right: 120px;
  color: #4A4A4A;
  letter-spacing: 0;
}
.fourth-slide-right>button{
  margin-top: 24px;
}
.fourth-slide-img{
  width:354;
}
/*-----------------------------------------*/
/*-------------- FOOTER SLIDE --------------*/
.footer{
  width: 100%;
  height: 550px;
  background-image: linear-gradient(114deg, #4396FF, #45F2B7);
}
.footer-content{
  display:flex;
}
.footer>.footer-content>.footer-left, .footer>.footer-content>.footer-right{
  width: 300px;
  color: #ffffff;
  font-size: 18px;
}
.footer-logo{
  margin-top: 48px;
  width: 200px;
  height: 48px;
}
.footer-left>div, .footer-right>div{
  margin-top: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.footer-RRSS-title{
  margin-top: 56px;
  color: #FFFFFF;
  letter-spacing: 0;
}
.footer-RRSS-logos{
  display: flex;
}
/*-----------------------------------------*/